[environments.default]
url = "jdbc:postgresql://challenger_postgres:5432/karaoke_db"
user = "karaoke_user"
password = "{{ karaoke_db_password }}"

locations = ["filesystem:/flyway/sql"]
schemas = ["karaoke"]
baselineOnMigrate = true
connectRetries = 10
